@use "global" as *;

.p-card-style03 {
  position: relative;
}

.p-card-style03__img {
  position: relative;
  width: 100%;
}

.p-card-style03__img::before {
  padding-top: 66.4%;  // 232÷335*100（画像の縦÷横）ここだけ変える！
  display: block;
  content: "";
}

.p-card-style03__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.p-card-style03__cat {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: unquote('max(#{rem(16)}, 12px)');
  letter-spacing: .125em;
  background-color: $color-base;
  padding: rem(8) rem(23);
}

.p-card-style03__company {
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: .1em;
  text-align: center;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(12);
  }
}
