@use "global" as *;

.p-explain {

}

.p-explain__block {
  font-size: rem(13);
  line-height: 1.8461;
  display: flex;
  align-items: center;
  padding: rem(16) 0 rem(16);
  border-bottom: rem(1) solid $white;
  @include mq(md) {
    font-size: unquote('max(#{rem(16)}, 12px)');
    padding: rem(27) 0 rem(28);
  }
}

.p-explain__block.p-explain__block--top {
  align-items: flex-start;
}

.p-explain__header {
  max-width: rem(60);
  width: 100%;  //ここは％にしても良い
  padding-left: rem(5);
  @include mq(md) {
    max-width: rem(75);
  }
}

.p-explain__description {
  width: 100%;  //ここは％にしても良い
  margin-left: rem(55);
  @include mq(md) {
    margin-left: rem(80);
  }
}