@use "global" as *;

.p-overview {
  padding-top: rem(120);
  position: relative;
  @include mq(md) {
    padding-top: rem(277);
  }
}

.p-overview__bg-line {
  position: absolute;
  top: 0;
  left: rem(-139);
  width: 100%;
  height: rem(1383);
  background-image: linear-gradient(to left top, transparent 49.99%, $color-accent 50.09%, $color-accent calc(49.99% + 1px), transparent calc(50.09% + 1px));
  z-index: -2;
  @include mq(md) {
    top: rem(11);
    left: 0;
    height: rem(1282);
  }
}

.p-overview .c-section-title__en {
  @include mq(md) {
    position: absolute;
    top: -113%;
    left: 23.6%;
  }
}

.p-overview__wrapper {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: rem(1150);
    padding: 0 rem(25);
    margin: rem(115) auto 0;
  }
}
.p-overview__img {
  @include mq(md) {
    width: 50.6363%;
    margin-left: rem(32);
  }
}

.p-overview__img img {
  margin-top: rem(47);
  @include mq(md) {
    margin-top: 0;
  }
}

// pc黒背景
.p-overview__bg {
  @include mq(md) {
    position: absolute;
    top: 43%;
    left: 0;
    width: 70%;
    height: rem(550);
    background-color: $color-main;
    z-index: -1;
  }
}